{{- define "fieldType" -}}
{{- /* Required args */ -}}
{{- $indent := .Indent -}}
{{- $typeMap := .TypeMap -}}
{{- /* .Type */ -}}

{{- if isMapType .Type -}}

type: object
{{ $indent }}description: '{{.Type}}'
{{ $indent }}additionalProperties:
{{ $indent }}  {{ template "fieldType" dict "Type" (mapValueType .Type) "TypeMap" $typeMap "Indent" (print $indent "  ") }}

{{- else if isArrayType .Type -}}

type: array
{{ $indent }}description: '{{.Type}}'
{{ $indent }}items:
{{ $indent }}  {{ template "fieldType" dict "Type" (arrayItemType .Type) "TypeMap" $typeMap "Indent" (print $indent "  ") }}

{{- else if isBaseType .Type -}}

type: {{ get $typeMap .Type }}

{{- else -}}

type: object
{{ $indent }}additionalProperties:
{{ $indent }}  $ref: '#/components/schemas/{{.Type}}'

{{- end -}}
{{- end -}}