name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "**"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install webrpc-gen
        run: |
          curl -o ./webrpc-gen -fLJO https://github.com/webrpc/webrpc/releases/download/v0.20.1/webrpc-gen.linux-amd64
          chmod +x ./webrpc-gen
          echo $PWD >> $GITHUB_PATH

      - name: Regenerate example schema
        run: cd _examples && make generate
      - name: Git diff of regenerated files
        run: cd _examples && make diff
